@use "../../../assets/theme/_var" as *;

.main-layout {
  display: flex;
  min-height: 100vh;
  background-color: $theme-bg;

  .layout-content {
    flex: 1;
    margin-left: 28rem;
    display: flex;
    flex-direction: column;
    @extend %transition;

    .page-container {
      padding: 3rem;
      flex: 1;
      width: 100%;
      margin: 0 auto;
    }

    @media (max-width: 1024px) {
      margin-left: 8rem;
    }

    @media (max-width: 768px) {
      margin-left: 0;

      .page-container {
        padding: 2rem 1.5rem;
      }
    }
  }
}