@use "../../../assets/theme/_var.scss" as *;

.common_modal {
  padding: 2rem 1.5rem;

  .modal {

    &-title {
      font-size: 3rem;
      font-weight: 500;
      color: $textblack;
      width: 100%;
      text-align: center;
      padding: 0 4rem 3rem;

      @media (max-width:1679px) {
        padding: 0 1.5rem 1.5rem;
        font-size: 1.8rem;
      }
    }

    &-dialog {
      margin: 0 auto;
      max-width: 60rem;
    }

    &-content {
      border-radius: 2rem;
      background-color: $baseClr;
      border: 0;
      position: relative;
    }

    &-header {
      border: 0;
      padding: 0;
      position: static;
      z-index: 1;
      flex-direction: column-reverse;
      align-items: flex-end;
      padding-top: 2.7rem;

      .btn-close {
        position: relative;
        opacity: 1;
        background-image: url("../../assets/images/crossIcon.svg");
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        width: 2.4rem;
        height: 2.4rem;
        background-size: auto;
        margin: 0 0 -.5rem;
        right: 3rem;
        @extend %transition;

        &:focus {
          box-shadow: none;
        }

        &:hover {
          transform: rotate(180deg);
        }

        @media (max-width:1679px) {
          right: 1rem;
        }
      }

      &.cross-only {
        padding-top: 3.8rem;
      }
    }

    &-body {
      padding: 0 4rem 4rem;
      color: $white;

      @media (max-width:1679px) {
        padding: 0 2rem 3rem;
      }

      @media (max-width:1279px) {
        padding: 0 1.5rem 2.5rem;
      }
    }

    &_footer {
      padding-top: 3rem;


      @media (max-width:1679px) {
        padding-top: 3rem;
      }

      @media (max-width:479px) {
        >.row {
          flex-direction: column;
          gap: 1rem;

          .col-6 {
            width: 100%;
          }
        }
      }
    }

    &_form_grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      @media (max-width:479px) {
        grid-template-columns: 1fr;
        gap: 0;
      }
    }

    &_form_input {
      &.input_group {
        margin-bottom: 0;
      }
    }
  }
}