@use "../../assets/theme/_var" as *;

.auth-page {
  .auth-header {
    margin-bottom: 3.2rem;
    text-align: left;

    h2 {
      font-size: 2.8rem;
      font-weight: 700;
      color: $theme-text;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 1.6rem;
      color: $theme-text-secondary;
    }
  }

  .auth-form {
    display: flex;
    flex-direction: column;

    .form-group {
      position: relative;
    }

    .form-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.6rem;

      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }
    }

    .form-options {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1.4rem;

      a {
        color: $primary;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .submit-btn {
      margin-top: 2rem;
      height: 5.6rem;
      font-weight: 700;
      font-size: 1.6rem;
    }

    .auth-footer {
      text-align: center;
      margin-top: 2.4rem;
      font-size: 1.5rem;
      color: $theme-text-secondary;

      a {
        color: $primary;
        font-weight: 700;
        margin-left: 0.4rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}