@use "../../assets/theme/_var" as *;

.forgot-password-page {
  .forgot-header {
    margin-bottom: 3.2rem;
    text-align: left;

    .back-link {
      display: inline-flex;
      align-items: center;
      gap: 0.8rem;
      color: $theme-text-secondary;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 2.4rem;
      transition: color 0.2s;

      &:hover {
        color: $primary;
      }
    }

    h2 {
      font-size: 2.8rem;
      font-weight: 700;
      color: $theme-text;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 1.6rem;
      color: $theme-text-secondary;
    }
  }

  .forgot-form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .submit-btn {
      height: 5.6rem;
      font-weight: 700;
      font-size: 1.6rem;
    }
  }

  &.success {
    text-align: center;
    padding: 2rem 0;

    .status-icon {
      width: 8rem;
      height: 8rem;
      background-color: rgba($success, 0.1);
      color: $success;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 3.2rem;

      svg {
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    h2 {
      font-size: 2.8rem;
      margin-bottom: 1.2rem;
    }

    p {
      color: $theme-text-secondary;
      margin-bottom: 3.2rem;
      line-height: 1.6;
    }

    .back-btn {
      height: 5.6rem;
    }

    .resend {
      margin-top: 2.4rem;
      font-size: 1.4rem;
      color: $theme-text-secondary;

      button {
        color: $primary;
        font-weight: 700;
        margin-left: 0.4rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}